@import "/scss/header";
@import "/scss/about";
$colors: (
    primary: #d50000
);
@function color ($color-name){
    @return map-get ($colors, $color-name);
}
$padding: 1.3rem;
body {
    background-color: rgba(color(primary),0.4)
}