@import "./_variables.scss";
@import "./_fonts.scss";
@import "./_header.scss";

html {
    font-size: 70%;
}
body {
    background-color: #78909c;
    height: 62.5%;
}
h1 {
    color: #4a626d;
}
.flex-parent-parent {
    background-color: #b1bfca;
    height: 78vh;
}
.flex-parent {
    background-color: #be9c91;
    height: 24vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 1200%;
    margin: 2vh;
    text-align: justify;
}
.flex-child {
    background-color: #c85a54;
    margin: 30px;
    height: 17vh;
    color: #ff867f;
    text-align: center;
    width: 800;
}
#flex-grow-1 {
    flex-grow: 1;
}
#flex-grow-2 {
    flex-grow: 2;
}
.images {
    display: flex;
}
.img {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3vh;
    height: 19vh;
    width: 33vh;
}
.flex-baby {
    background-color: rgba(138, 113, 113, 0.37);
    margin: 50px;
    height: 15vh;
    color: #8aacc8;
    width: 200;
    font-size: 30;
}
