@import "./_variables.scss";
@import "./_fonts.scss";
@import "./_header.scss";

html {
    font-size: 70%;
}
body {
    background-color: #78909c;
    height: 62.5%;
}
h1 {
    color: #4a626d;
}
.flex-parent {
    background-color: #be9c91;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1700%;
}
.flex-child {
    background-color: #c85a54;
    margin: 30px;
    height: 43vh;
    color: #ff867f;
    text-align: justify;
    width: 800;
}
#flex-grow-1 {
    flex-grow: 1;
}
#flex-grow-2 {
    flex-grow: 2;
}
.images {
    display: flex;
}
.img {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3vh;
    height: 19vh;
    width: 34vh;
}
.flex-baby {
    background-color: #afc2cb;
    margin: 50px;
    height: 11vh;
    color: #8aacc8;
    width: 500;
    font-size: 30;
}
